[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
tk = "*"
numpy = "*"
objloader = "*"
pillow = "*"
pygame-ce = "*"
pyglm = "*"
moderngl = "*"

[dev-packages]

[requires]
python_version = "3.13"
